.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 24px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0%;
}

.modal__close {
  position: absolute;
  opacity: 0.5;
  border: none;
  background: none;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.modal__close:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0px 16px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  width: 100%;
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  outline: none;
  font-family: "Cabinet Grotesk", sans-serif;
}

.modal__legend {
  padding-top: 24px;
  padding-bottom: 8px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0%;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  cursor: Pointer;
}

.modal__label {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  border: none;
  opacity: 1;
  padding-top: 8px;
}

.modal__label_type_radio {
  padding-top: 8px;
  font-family: "Cabinet Grotesk", sans-serif;
}

.modal__submit {
  margin-top: 32px;
  padding: 8px 16px;
  background: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 4px;
  width: fit-content;
}

.modal__submit:hover {
  background-color: #00000099;
  cursor: pointer;
}

.modal__submit:disabled {
  background-color: #0000004d;
  cursor: not-allowed;
}
