.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  justify-content: space-between;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__logo {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #000;
  text-decoration: none;
}

.header__logo-image {
  height: 40px;
  width: auto;
  display: block;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__add-cloths-btn {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  border: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
}

.header__link {
  display: flex;
  text-decoration: none;
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: inherit;
}

.header__nav button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
}
